@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
body,
html {
    color: white;
    font-size: 0.9em !important;
    font-family: "Consolas", "Inconsolata" !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    /*border: red solid;*/
    overflow: hidden;
    position: fixed;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

::-webkit-scrollbar {
    width: 12px;
	margin-right: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(213 213 213 / 80%); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(121 121 121 / 40%); 
}

.loading-background {
    background-color: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.loaded-background {
    background-image: url("https://images.pexels.com/photos/2325446/pexels-photo-2325446.jpeg?crop=entropy&cs=srgb&dl=pexels-francesco-ungaro-2325446.jpg&fit=crop&fm=jpg&h=1280&w=1920");
}

/* Tutorial */
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.349);
}
/* Tutorial */

#app button {
    position: fixed;
    border: none;
    background-color: #343a40;
    color: #d0c4c4;
    font-size: 1.65vh;
    /*width: 100px;*/
    height: 50px;
    border-radius: 9px;
    margin-left: -30px;
}


.box-zone {
    width: 100%;
    min-height: 10em;
    max-height: 10em;
    margin: 2rem 0 0 -1rem;
    background-color: #e3e3f3;
    color: white;
    border-radius: 0.75em;
    padding: 5%;
    touch-action: none;
    user-select: none;
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    position: absolute;
    bottom: 0;
    visibility: hidden;
}

.dropped {
    background-color: lime !important;
}

#os-info {
    position: absolute;
    bottom: 55px;
    right: 5px;
    font-size: 1.1em;
}

.taskbar {
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    height: 5vh;
    width: 100%;
    background-color: rgb(128, 128, 128, 0.7);
    z-index: 200;
}

.taskbar .apps {
    display: inline;
}

.taskbar .apps #app-menu {
    position: static;
    margin-top: 1vh;
    margin-left: 1vw;
    font-size: 3vh;
}

/*.taskbar #time {
    position: absolute;
    right: 15px;
    font-size: 3.2vh;
}

.taskbar #date {
    position: absolute;
    right: 109px;
    font-size: 2.2vh;
    margin-top: 7px;
}*/

.taskbar .dt #date {
    right: 00px;
    font-size: 2.2vh;
    margin-top: 7px;
    margin-left: 38.2vw;
}

.taskbar .dt #time {
    right: 15px;
    font-size: 3.2vh;
    margin-right: 0px;
    margin-left: 10px;
}

.taskbar .dt {
    position: absolute;
    right: 12px;
}

.window {
    border-radius: 10px;
    width: 200px;
    min-width: 246px;
    height: 200px;
    margin: 5px;
    background-color: whitesmoke;
    display: flex;
    position: absolute !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    z-index: 100;
}

.window-maximized {
    left: -5px !important;
    top: -5px !important;
    width: 100% !important;
    height: 105% !important;
    position: fixed !important;
}

.window-box {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}

.top-window {
    /*position: absolute;*/
    background-color: coral;
    width: 100%;
    height: 35px;
    border-radius: 10px 10px 0px 0px;
}

.top-window #title {
    font-family: Calibri;
    font-size: 2.1vh;
    position: absolute;
    left: 13px;
    top: 0.5%;
}

.window-actions {
    position: absolute;
    right: 15px;
    font-size: 2vh;
    top: 0.5%;
}

.window-actions i {
    margin-left: 10px;
}

.active {
    z-index: 150;
}

/*.window-switcher {
    position: fixed;
    bottom: 52px;
    left: 3px;
    background-color: rgb(128, 128, 128, 0.7);
    width: 99.3%;
    height: 27px;
    text-align: center;
    z-index: 200;
}

.window-switcher span {
    margin-right: 10px;
}*/

.window-switcher {
    position: fixed;
    /* bottom: 52px; */
    left: 1.8%;
    background-color: rgb(128, 128, 128, 0.7);
    width: 96.3%;
    /*width: 99.3%;
    height: 102px;*/
    text-align: center;
    z-index: 200;
    border-radius: 12px;
}

.window-switcher #ws-layout{
    margin-bottom: 20px;
}

.window-switcher #ws-layout span {
    /*
    margin-right: 10px;
    margin-top: 23px;*/
    /* position: fixed; */
    /*left: 10px;
    right: 0;
    height: 50px;
    background: #708090bf;
    display: inline-grid;*/
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    width: 12.5%;
    display: inline-block;
    position: relative;
    top: 15px;
}


.window-switcher #ws-layout div{
    /*background-color: rgb(25, 118, 210);
    width: 20%;
    margin-right: 10px;*/
    margin-top: 23px;
    /*position: fixed;
    left: 10px;
    right: 0;*/
    height: 50px;
    /* background: #708090bf; 
    width: 15%; */
    /* display: inline-grid; 
    border-radius: 8px; */
    /*position: absolute;
    top: 10px;*/
    position: relative;
    bottom: 2px;
}

.menu{
    position: absolute;
    left: 1px;
    bottom: 5.2vh;
    /* height: 100px; */
    width: 320px;
    background-color: hsla(0,0%,50.2%,.7);
    border-radius: 0px 11px 11px 0px;
	z-index: 300;
}

.menu .app-layout{
    /*background: blue;*/
    height: 350px;
    width: 85%;
    float: left;
    /*position: relative;*/
    top: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.menu .favourite-layout{
    /*background: red;*/
    height: 350px;
}

.menu .search-layout{
	/*background-color: teal; */
    background-color: rgba(255,255,255,15%);
    width: 59%;
    position: relative;
    /* left: 5%; */
    padding: 5px 0px 5px 9px;
    text-align: center;
    display: inline-block;
    border-radius: 0px 9px 9px 0px;
}

.menu .usr-actions_layout{
    /*background: darkkhaki;*/
    float: right;
    display: inline-block;
    padding: 5px 5px 5px 5px;
	background: rgba(255,255,255,15%);
    border-radius: 8px;
}

.menu .usr-actions_layout .fa-solid {

    margin-right: 5px;
    margin-left: 5px;

}

.favourite-layout .example-favourite-app{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 35%;
    margin-left: auto;
    position: relative;
    right: 5px;
    top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.example-favourite-app .icon{
    color: black;
    font-size: 20px;
    margin-left: 7px;
    margin-top: 8px;
}
.app-layout .box{
    width: 83.5%;
    height: 37px;
    /*background-color:#343a40;*/
    border-radius: 8px;
    font-size: 25px;
	margin: max(1rem, 3vw);
	padding: 10px;
}

.app-layout .box .icon{
    display: inline-block;
    /*float: left;*/
    background-color: white;
    color: black;
    padding: 4px 10px 1px 10px;
    border-radius: 20%;
    position: relative;
    top: -21px;
    right: -0.2vw;
}

.app-layout .box .text{
    display: inline-block;
    float: right;
    margin-right: 50px;
    position: relative;
    top: -1.56vh;
    font-size: 2.3vh;
}

#search_menu{
	color: white;
}

#search_menu::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

#search_menu:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

#search_menu::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

#search_menu:focus,
#search_menu:hover{
    border:none;
}