@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&display=swap');

body{
   background: black;
   color: white;
}

#root{
   font-family: 'Inconsolata', 'Consolas', monospace;
}
h2{
   font-size: 23px;
}
h5{
   margin-top: 10px;
   font-size: 16px;
   font-weight: 600;
}

a{
   text-decoration: none;
   color: unset;
}